<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <clear />
    <add key="AppSettings:FaceApiKey" value="" />
    <add key="AppSettings:FaceApiUrl" value="" />
    <add key="AppSettings:SocketUrl" value="" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="{Connection String}" />
    <add name="AzureWebJobsStorage" connectionString="{Connection String}" />
  </connectionStrings>
</configuration>