<header class="gwab-header">
    <div class="gwab-links">
        <a id="btn-show-faces" class="gwab-icon gwab-icon--prev" href="#" title="Show Smiles"><span>Previous Photos</span></a>
        <a id="btn-clear" class="gwab-icon gwab-icon--drop" href="#" title="Reset"><span>Reset</span></a>
    </div>
    <h1>Global Azure Bootcamp<span>Athens 2016</span></h1>
</header>

<div id="tpl-photo" class="hidden">
    <figure class="effect-zoe">
        <img />
        <figcaption>
            <p class="icon-links"></p>
        </figcaption>
    </figure>
</div>

<div id="tpl-face" class="face hidden">
    <a href="#"><img /></a>
    <div class="attributes" style="display: none">
        <label>Age:<span>N/A</span></label>
        <label>Gender:<span>N/A</span></label>
        <label>Smile:<span class="progress-outer"><span class="progress-inner"></span></span><span class="smile">100%</span></label>
    </div>
</div>